@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #4e772d;
  --secondary-color: #6a84db;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    0deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--text-color);
}

.container {
  width: 400px;
  height: 650px;
  background-color: var(--primary-color);
  padding: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h2 {
  display: block;
  letter-spacing: 2.5px;
  font-size: 34px;
  margin: 15px 0px;
}

.wrapper {
  width: 100%;
}

.wrapper .input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-box input {
  padding: 10px 15px;
  width: 100%;
}

.input-box span {
  position: absolute;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: 300ms all;
}
.input-box span:hover {
  color: var(--secondary-color);
}
.pass-indicator {
  width: 100%;
  height: 4px;
  margin-top: 10px;
  border-radius: 20px;
  position: relative;
}

.pass-length input {
  width: 100%;
  margin-bottom: 15px;
}

.pass-indicator::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  border-radius: inherit;
  transition: 300ms all;
}

.pass-indicator#weak::before {
  width: 20%;
  background-color: #e64a4a;
}

.pass-indicator#medium::before {
  width: 50%;
  background-color: #f1c80b;
}
.pass-indicator#strong::before {
  width: 100%;
  background-color: #43a047;
}

.pass-length {
  width: 100%;
}

.pass-length .details .title {
  letter-spacing: 1.2px;
  width: 100%;
  display: block;
  text-align: center;
}

.details span {
  display: block;
  text-align: center;
  font-weight: bold;
}

.pass-settings {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.options {
  width: 100%;
  padding: 10px;
}

.options .option {
  list-style-type: none;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  margin: 4px 0px;
  border-radius: 2px;
  width: 100%;
}

.option label {
  word-spacing: 2px;
  letter-spacing: 2.5px;
}

.generate-btn {
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  background-color: transparent;
  border: 3px solid var(--secondary-color);
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: 300ms all;
}

.generate-btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--text-color);
}
